@import url('https://fonts.googleapis.com/css?family=Exo:400,700');

* {
    box-sizing: border-box;
    transition: ease-in;
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    width: 100%;
    flex-direction: row;
    padding: 0;
    margin: 0;
}

.side-nav {

    position: fixed;
    left: 0;
    width: 300px;
    background-image: linear-gradient(to bottom right, rgba(5, 36, 66, 0.441), rgba(18, 0, 44, 0.505));

}

.pages {

    width: 100%;
    background-image: linear-gradient(to right, rgba(0, 0, 0), rgb(22, 4, 49));
}

@media only screen and (max-width: 900px) {
    .container {
        flex-direction: column;
        width: 100%;
    }

    .side-nav {
        background-color: rgba(25, 10, 112, 0.578);
        width: 100%;
        position: relative;
    }

    .pages {
        width: 100%;

    }

    .area {
        width: 100%;

    }

    .profile-pic {
        margin-top: 120px;
        height: 200px;
        margin-bottom: 100px;
    }

    .nav {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        transform: translateX(-300px);
    }


    #aboutme,
    #contactme,
    #skills,
    #projects,
    #education {
        margin-left: 0;
        width: 100%;
        transform: translateX(-300px);
        border-radius: 5px;

    }

}

.area {
    background: #01021e;
    background: -webkit-linear-gradient(to left, #1c1e4a, #010227);
    width: 100%;

    z-index: 0;
    margin: 0;
    padding: 0;
}

.circles {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: 0;
    margin: 0;
}

.circles li {
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    background: rgba(255, 1, 242, 0.263);
    animation: animate 25s linear infinite;
    bottom: -150px;
    box-shadow: 0 0 15px rgb(237, 252, 30)
}

.circles li:nth-child(1) {
    left: 25%;
    width: 80px;
    height: 80px;
    animation-delay: 0s;
    background: rgba(255, 1, 77, 0.263);
}


.circles li:nth-child(2) {
    left: 10%;
    width: 20px;
    height: 20px;
    animation-delay: 2s;
    animation-duration: 12s;
    background: rgba(255, 1, 217, 0.263);
}

.circles li:nth-child(3) {
    left: 70%;
    width: 20px;
    height: 20px;
    animation-delay: 4s;
    background: rgba(56, 1, 255, 0.263);
}

.circles li:nth-child(4) {
    left: 40%;
    width: 60px;
    height: 60px;
    animation-delay: 0s;
    animation-duration: 18s;
    background: rgba(1, 208, 255, 0.263);
}

.circles li:nth-child(5) {
    left: 65%;
    width: 20px;
    height: 20px;
    animation-delay: 0s;
    background: rgba(1, 255, 39, 0.263);
}

.circles li:nth-child(6) {
    left: 75%;
    width: 110px;
    height: 110px;
    animation-delay: 3s;
    background: rgba(238, 255, 1, 0.263);
}

.circles li:nth-child(7) {
    left: 35%;
    width: 150px;
    height: 150px;
    animation-delay: 7s;
    background: rgba(255, 73, 1, 0.263);
}

.circles li:nth-child(8) {
    left: 50%;
    width: 25px;
    height: 25px;
    animation-delay: 15s;
    animation-duration: 45s;
    background: rgba(1, 255, 225, 0.263);
}

.circles li:nth-child(9) {
    left: 20%;
    width: 15px;
    height: 15px;
    animation-delay: 2s;
    animation-duration: 35s;
    background: rgba(255, 1, 141, 0.263);
}

.circles li:nth-child(10) {
    left: 85%;
    width: 150px;
    height: 150px;
    animation-delay: 0s;
    animation-duration: 11s;
    background: rgba(9, 1, 255, 0.263);
}



@keyframes animate {

    0% {
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }

    100% {
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
    }

}

.profile-pic {
    height: 400px;
    width: 100%;

    z-index: 1;

}

.bg {
    position: fixed;
    top: 0;
    height: 100%;
    width: 100%;
}

.pic {
    object-fit: contain;
    height: 100%;
    width: 100%;
    transform: scale(1.3);
}

.name {
    color: white;
    font-family: 'Ubuntu', sans-serif;
    font-size: xx-large;
    text-align: center;
}

.name>span {
    margin: -2px;
    padding: 0;
}

hr {
    width: 150px;
}

.list {
    list-style: none;
    color: white;
    font-family: 'Ubuntu', sans-serif;
    font-size: small;
    z-index: 2;
    height: 150px;
    border: 2px solid white;
    border-radius: 20px;
    transform: translate(-20px, -20px);
    box-shadow: 0 0 10px rgb(255, 255, 255);
}

.img {
    height: 15px;
    width: 15px;
    float: left;
}

.list>li {
    margin-top: 2px;
    padding: 0;
    height: 25px;

    text-align: center;
    justify-content: center;
}



a:link {
    color: white;
    text-decoration: none;
}

a:visited {
    color: white;
    text-decoration: none;
}

a:hover {
    color: white;
    text-decoration: none;
}

a:active {
    color: white;
    text-decoration: none;
}

.nav {
    z-index: 2;
    font-family: 'Ubuntu', sans-serif;
    font-size: medium;
    color: white;
    background-color: rgba(8, 5, 66, 0.676);
    position: fixed;
    top: 0;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;
    height: 60px;
    width: 100%;
    margin-left: 300px;
    /* transform: translateX(300px); */
}

.nav-items {
    list-style-type: none;
    margin: 5px;
    padding: 0;
}

.nav-items>li {
    display: inline;
    margin: 5px;
    border: 2px solid white;
    box-shadow: 0 0 10px rgb(231, 255, 15);
    padding: 4px;
    border-radius: 10px;
}

.nav-items>li:hover {
    background-color: rgb(0, 0, 0);
    border: 1px solid white;
}

#aboutme,
#contactme,
#skills,
#projects,
#education {
    margin-left: 300px;
    border: 2px solid white;
    box-shadow: 0 0 10px rgb(242, 255, 0);
    border-radius: 5px;
    margin-bottom: 10px;
}

#aboutme {
    font-family: 'Ubuntu', sans-serif;
    font-size: medium;
    color: white;
    margin-top: 100px;
    padding: 25px;
    text-align: center;
    height: 100vh;
}

#aboutme>h2 {
    font-size: xx-large;
}

/* .content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
} */
/* Style the skills section */
.skills {
    font-family: 'Ubuntu', sans-serif;
    font-size: medium;
    color: white;
    margin-top: 20px;
    /* background-color: #0a0558cf; */
    padding: 20px;
    border-radius: 5px;
}

#skills>h2 {
    font-family: 'Ubuntu', sans-serif;
    font-size: xx-large;
    color: white;
    text-align: center;
    text-decoration: underline;
    margin-top: 15px;
}

/* Style skill names */
.skill-name {
    font-weight: bold;
    margin-right: 10px;
}

/* Style skill level bars */
.skill-level {
    /* background-color: #a78fff00; */
    height: 20px;
    border-radius: 5px;
    margin-top: 5px;
    animation: fill 2s ease-in-out;
    animation-fill-mode: forwards;
    box-shadow: 0 0 15px rgb(236, 196, 20);

}

.skills>h2 {
    text-align: center;
    font-size: large;

}

.skill-level-bar {
    height: 100%;
    background-color: #00a3c4;
    /* Change the color to your preference */
    border-radius: 5px;
    text-align: right;
    line-height: 20px;
    color: #ffffff;
    padding: 0 10px;
    border: 2px dotted white;

}

/* You can adjust the color, padding, and other styles to match your design */

@keyframes fill {
    from {
        width: 0;
    }

    to {
        width: 100%;
    }
}

#projects {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;

}

#projects>h2 {
    font-family: 'Ubuntu', sans-serif;
    font-size: xx-large;
    color: white;
    flex-basis: 100%;
    text-align: center;
}

.project-card {
    font-family: 'Ubuntu', sans-serif;
    font-size: medium;
    color: white;
    border: 2px double white;
    box-shadow: 0 4px 6px rgb(255, 145, 1);
    border-radius: 5px;
    margin: 20px;
    overflow: hidden;
    width: 300px;
    display: inline-block;
    z-index: 1;
}

.project-image img {
    width: 100%;
    height: auto;
}

.project-info {
    display: flex;
    flex-direction: column;
    padding: 15px;
    justify-content: center;
    align-items: center;
}

.project-info h3 {
    margin: 0;
    font-size: 1.5em;
}

.project-info p {
    margin: 10px 0;
    font-size: 1em;
}

.project-info a {
    text-decoration: none;
    background-color: #ffffff;
    color: #000000;
    padding: 10px 20px;
    border-radius: 5px;
    display: inline-block;
    margin-top: 10px;
    width: 130px;
    box-shadow: 0 4px 6px rgb(255, 145, 1);
    /* transition: background-color 0.3s; */
}


.project-info a:hover {
    background-color: #18002cd6;
    color: white;

}